@use "../foundation/mixin" as *;

.footer {
    text-align: center;
    background-color: #f5f5f5;

    &__logo {
        font-size: 24px;
        line-height: 1.5;
        font-weight: 700;
        margin-bottom: 32px;
    }

    &__menu {
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 40px;
    }

    &__list ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 64px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        list-style: none;

        @include mq-375 {
            gap: 32px;
        }
    }

    &__list {
        @media (hover: hover) and (pointer: fine) {
            a:hover {
                border-bottom: 1px solid #333;
            }
        }
    }

}

.sns {

    &__list {
        display: flex;
        justify-content: center;
        gap: 32px;
        padding-bottom: 24px;
    }

    &__link {
        display: block;
    }

}

.fa-brands {
    font-size: 28px;
}



.copyright {
    background-color: black;
    color: white;
    padding: 50px 0;
}