@use "../foundation/mixin" as *;

.modal.is-open {
    display: flex;
}

.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, .7);

    justify-content: center;
    align-items: center;

    z-index: 1000;

    &__title {
        margin-bottom: 12px;
    }

    &__label {
        margin-bottom: 12px;
    }

    &__description {
        margin-bottom: 24px;
        line-height: 1.8;
    }

    &__link {
        display: inline-flex;
        padding: 12px 20px;

        border-radius: 999px;

        background: #111;

        color: #fff;

        transition: transform .3s;

        @media (hover: hover) and (pointer: fine) {

            &:hover {
                transform: translateY(-2px);
            }
        }

    }

    &__content {
        background: #fff;

        width: min(90%, 600px);

        padding: 40px;

        position: relative;
        border-radius: 16px;

        box-shadow: 0 20px 60px rgba(0, 0, 0, .2);

        @include mq-567 {
            padding: 20px;
        }
    }

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 30px;
        height: 30px;
        cursor: pointer;
        outline: none;
        &:focus-visible{
            outline: 2px solid -webkit-focus-ring-color;
        }
        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: 24px;
            height: 2px;
            background-color: #111;

        }

        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}
.modal-focus-fix{
    position: absolute;
    inset: 0;
    outline: none;
    width: 0;
    height: 0;
    opacity: 0;
}

.is-fixed {
    overflow: hidden;
}