@use "../foundation/mixin" as *;


.p-about {
    background-color: #f5f5f5;

    &__wrap {
        display: flex;
        align-items: center;
        gap: 32px;

        @include mq-sp {
            flex-direction: column;
        }
    }

    &__message {
        font-size: 16px;
        line-height: 1.8;
        padding-bottom: 32px;

    }

    &__name {
        font-weight: 400;
        font-size: 24px;
        margin-bottom: 12px;
    }

    &__dogs {
        display: flex;
        gap: 16px;
    }

    &__cat,
    &__dog {
        border-radius: 50%;
        overflow: hidden;
        height: 150px;
        width: 150px;
    }

    &__cat {
        margin-left: 64px;
        margin-bottom: 24px;
    }
}