@use "../foundation/mixin" as *;

.p-footer {
    text-align: center;
    background-color: #f5f5f5;

    &__logo {
        font-size: 24px;
        line-height: 1.5;
        font-weight: 700;
        margin-bottom: 32px;
    }

    &__menu {
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 40px;
    }

    &__global-list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 64px;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        list-style: none;

        @include mq-567 {
            gap: 32px;
        }
    }

    &__global-nav {
        @media (hover: hover) and (pointer: fine) {
            a:hover {
                border-bottom: 1px solid #333;
            }
        }
    }

    &__copyright {
        background-color: black;
        color: white;
        padding: 50px 0;
    }

}

.p-sns {

    &__list {
        display: flex;
        justify-content: center;
        gap: 32px;
        padding-bottom: 24px;
    }

    &__link {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 6px;
        transition: background-color 0.3s ease;

        &--x {
            background-color: #000;

            .c-icon-svg {
                fill: #fff;
            }
        }
    }

}