@use "../foundation/mixin" as *;

.fv {
    overflow: hidden;
    width: 100%;
    height: 720px;

    @include mq-sp {
        height: 700px;

    }

    @include mq-567 {
        height: 625px;
    }
}

.fv__inner {
    display: flex;
    width: 200%;
    height: 100%;
}

.fv__item {
    width: 50%;
    height: 100%;
    position: relative;
}
.fv__item::after {
    content: ''; /* 必須 */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* 黒で透明度40%。ここで暗さを調整 */
    z-index: 1; /* 画像(0)とテキスト(2)の間に挟む */
}

.fv__text {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    max-width: 600px;
    color: #fff;
    z-index: 2;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

/* 見出しのスタイル */
.fv__title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.4;
}

/* 本文のスタイル */
.fv__desc {
    font-size: 18px;
    line-height: 1.8;
    margin: 0;
    /* pタグのデフォルトマージンを消す */
}
@include mq-sp {

    /* ご使用のmixin */
    .fv__text {
        left: 20px;
        right: 20px;
        width: auto;
        max-width: 100%;
        bottom: 80px;
    }

    .fv__title {
        font-size: 24px;
        margin-bottom: 15px;
    }

}