@use "../foundation/mixin" as *;

.modal.is-open {
    display: flex;
}

.modal {
    display: none;
    position: fixed;

    justify-content: center;
    align-items: center;

    z-index: 1000;
    inset: 0;
    background: rgba(0, 0, 0, .7);

    &__title {
        margin-bottom: 12px;
    }

    &__label {
        margin-bottom: 12px;
    }

    &__points-title {
        font-weight: 400;
    }

    &__points-list {
        margin-bottom: 24px;
        line-height: 1.8;
    }

    &__btn-wrap {
        display: flex;
        justify-content: space-between;
        align-items: start;

        @include mq-567 {
            flex-direction: column;
            gap: 12px;
        }
    }


    &__content {

        position: relative;

        box-shadow: 0 20px 60px rgba(0, 0, 0, .2);
        border-radius: 16px;
        background: #fff;

        padding: 40px;

        width: min(90%, 600px);

        @include mq-567 {
            padding: 20px;
        }
    }

    &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        width: 30px;
        height: 30px;


        &:focus:not(:focus-visible) {
            outline: none !important;
        }

        &::before,
        &::after {
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: #111;
            width: 24px;
            height: 2px;
            content: "";

        }

        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }
    }
}

.is-fixed {
    overflow: hidden;
}